.App {
  text-align: center;
}

.App-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-title {
  margin-left: 650px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.In {
  font-weight: 600;
  font-size: large;
  color: #5cb85c;
}

.Out {
  font-weight: 600;
  font-size: large;
  color: #d9534f;
}

.div-scroll {
  overflow-y: scroll;
  width: 100%;
  margin-right: 0%;
  height: 580px;
}

.sticky {
  position: sticky;
  top: 0;
  background: white;
}

.Current {
  font-size: large;
  font-weight: 500;
}

.App-link {
  color: #61dafb;
}

.component-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.nav-user-p {
  padding: 1.85px;
}

.reg-btn {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: underline;
  font-size: large;
}

.nav-shadow {
  box-shadow: 5px 5px 5px rgb(173, 173, 173);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sign-up {
  border-color: black;
  border-radius: 15px;
}

.Dropdown {
  margin-left: auto;
}
