.reg-form {
  margin-top: 5%;
  margin-bottom: 30%;
  background-color: #343a40;
  max-width: 50px;
  min-width: 58vh;
  padding: 55px;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 15px;
}
