.depo {
  background-color: #5cb85c;
  color: white;
  border-radius: 15px;
  text-align: center;  
  border: none;
  margin-right: 15%;
  margin-left: 15%;


}

.wit {
  background-color: #d9534f;
  color: white;
  border-radius: 15px;
  text-align: center;
  border: none;
  margin-right: 15%;
  margin-left: 15%;
}