.signin-btn {
  border-color: transparent;
  margin-left: 25%;
  width: 50%;
  padding: 5px;
  margin-top: 40px;
  font-size: 25px;
  transform: translate(0);
  transition: transform 0.25s ease-out;
}

.signin-btn:hover {
  transform: scale(1.05);
}
